language: python
dist: bionic
compiler: gcc
python:
- "3.8"
services:
- xvfb
addons:
  apt:
    packages:
    - tcl-dev
    - tk-dev
    - fontconfig
    - libfontconfig1
    - libfontconfig1-dev
    - cmake
    - cmake-data
    - extra-cmake-modules
    - build-essential
    - pkg-config
install:
- python -m pip install nose scikit-build
script:
- python setup.py bdist_wheel
- python setup.py install
- rm -rf ./tkextrafont
- python -m nose
deploy:
  provider: releases
  token:
    secure: "qEbnTsfDAGXokVlBPGwzkTg/DjnPOnM9UnQonZohRTcxyVE/RWNgBfQYbK6ihfJvn9fbD+1rKNjXNia/oRRoA6YGyUpOkX7EtdlJ9rvEo9gZqwfmiM/h8n1l4TP5Igu3whh5EEPtUNt9sj09hmaBStJSdqO0lehPW1xEUs6nwpjzNF1ucyCuoivilvvoMk6jcyUSRz67b301Kd7j68rAmSj3Py7dvzCJM2FNIoxezSkw3RyJFCJvYcJdjSfYHoHZ5MStDCgAV3nHwFnwiYzZ46jvSiHsma3SplaeWrhs8ota/uI1dnxxNhBPzR3L3xwHLzMR53TMWUfE8HzTPedBnsMAkDEvJuGRGKclUt3VpbOBELEhR7j3ERbxL48pnDPOSv2xtMAVVsIh+X04X8lsimCfGnSMdZYfCXXrSVpdX0r/cmMY3rtaugVjZECjQ4RMT8WIimrg92el9KfH+tCGVFT5/y3s8x3gC3qDrKq2AGY3e7xxA6HzZn18MA+UBl68Z+JGsItyTSwcnOeCR/9xgGn0U+Iqjn3AO2aJmkSw7rHi2yflLucsknChq4I5UbkAtjs0dchpsOGkbRCgTiC2GR3eL8LIqBrsr1GWrr2B0eadIwlpq4gdpvX/ssoYZDwZ3pvw8QQUJM6KbhrKHFq1OApoupUwCmd/rGVgh/xdME4="
  file: dist/*.whl
  edge: true
  on:
    tags: true
